<div class='comment-card'>
  <p class='comment'>
    {{this.dataValues.comment}}
  </p>
  <p class='comment-names'>
    &mdash;
    {{this.user.dataValues.username}},
    {{format_date this.dataValues.createdAt}}
  </p>
</div>