<div class='article-card dashboard-card'>
  <a href='/dashboard/edit/{{this.id}}'>
    <h3>{{this.title}}</h3>
    <p>Created On:{{format_date this.createdAt}}</p>
    <p class='dashboard-content'>{{this.content}}</p>
  </a>
</div>