<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>IE | Dashboard</title>
  </head>
  <body>
    <header>
      <div class='header-left'>
        <h2>Infinite Echoes</h2>
      </div>
      <div class='header-right'>
        <ul>
          <li>
            <a href='/'>Home</a>
          </li>
          <li>
            <a href='/dashboard/'>Dashboard</a>
          </li>
          {{#if loggedIn}}
          <button id='logout-btn'>Logout</button>
            {{else}}
            <a href='/login'>Login</a>
            {{/if}}
          </li>
        </ul>
      </div>
    </header>
    <main>
      {{{body}}}
    </main>
      <footer>
      <h3>Made by Kyle Etrata</h3>
      <p>2023, Enormous_Elephant, Inc</p>
    </footer>
  </body>
  {{#if loggedIn}}
    <script src='/scripts/logout.js'></script>
  {{/if}}

</html>