<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Infinite Echoes</title>
  </head>
  <body>
    <header>
      <div class='header-left'>
        <h2>Infinite Echoes</h2>
      </div>
      <div class='header-right'>
        <ul>
          <li>
            <a>Home</a>
            <a>Dashboard</a>
            <a>Login</a>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <section class='main-left'>
        {{! <img/> }}
      </section>
      <aside>
        {{{body}}}
      </aside>
    </main>
    <footer>
      <h3>Made by Kyle Etrata</h3>
      <p>2023, Enormous_Elephant, Inc</p>
    </footer>
  </body>
</html>