<div class='post'>
  <article class='article-card'>
    <div class='card-header flex-row justify-space-between'>
      <h2 class="title">{{post.title}}</h2>
      <div class="creator-details">
        Posted by
        {{post.user.dataValues.username}}
        on
        {{format_date post.createdAt}}
      </div>
    </div>
    <div class='article-body'>
      {{post.content}}
    </div>
  </article>

  {{#if post.comments}}
    <section class='comment-container'>
      <div class='card-header'>
        <h3>Responding Echoes</h3>
      </div>

      <div class='comment-body'>
        {{#each post.comments}}
          {{> comments}}
        {{/each}}
      </div>
    </section>
  {{/if}}

  <form class="comment-form">
    <div>
      <h4>New Responding Echo</h4>
    </div>

    <div class='card-body'>
      <textarea
        name='comment-body'
        class='form-input'
        id='comment-content'
      ></textarea>
      <div>
        <button type='submit' id='comment-submit-btn'>Submit</button>
      </div>
    </div>
  </form>
</div>

<script src='/scripts/comment-save.js'></script>