<section class='dashboard-container '>
<div>
  <a href='/dashboard/new' class="dashboard-a">Create new Echo</a>
</div>
<section class="edit-container">
  <form class="edit-form">
    <div class="input-areas">
      <div>
      <label for='article-title-input'>Title</label>
      </div>
      <textarea
        type='text'
        id='article-title-input'
      >{{editArticle.title}}</textarea>
    </div>
    <div>
      <div>
      <label for='article-content-input'>Article Content</label>
      </div>
      <textarea
        type='text'
        id='article-content-input'
      > {{editArticle.content}}</textarea>
    </div>
  </form>
  <div>
    <div>
      <button id="save-edit-btn" >Save Changes</button>
    </div>
    <div>
      <button id="delete-article-btn">Delete Article</button>
    </div>
  </div>
</section>


<script src='/scripts/save-delete-edit.js'></script>