<div>
  <a href='/dashboard/new'>
    <button id='dashboard-btn'>New Post</button>
  </a>
</div>
<section>
  <form>
    <div>
      <label for='article-title'>Title</label>
      <input
        type='text'
        id='article-title-input'
        value='{{editArticle.title}}'
      />
    </div>
    <div>
      <label for='article-content'>Article Content</label>
      <input
        type='text'
        id='article-content-input'
        value='{{editArticle.content}}'
      />
    </div>
  </form>
</section>
<div>
  <button id="save-edit-btn" >Save Changes</button>
</div>
<div>

  <button id="delete-article-btn">Delete Article</button>

</div>
{{#if editArticle.comments}}
  <section>
    {{#each articles.comments}}
      {{> comments}}
    {{/each}}
  </section>
{{/if}}

<script src='/scripts/save-delete-edit.js'></script>