<section class='new-article container'>
  <div>
    <h2 class='card-header'>Create New Article</h2>
  </div>
  <div>
    <form class='card-body new-article-form' id='new-article-form'>
      <div class='form-row'>
        <label for='new-article-title' class='form-label' i>Title</label>
        <input
          type='text'
          id='new-article-title'
          name='article-title'
          class='form-input form-control'
        />
      </div>
      <div class='form-row'>
        <label class='form-label' for='new-article-content'>Content</label>
        <textarea
          id='new-article-content'
          name='content'
          class='form-input form-control'
        ></textarea>
      </div>
      <button type='submit' id='new-article-btn' class='btn'>Create</button>
    </form>
  </div>
</section>

<script src='/scripts/add-article.js'></script>