:root {
  --primary: #1d1e22;
  --secondary: #ffffff;
  --accent-color: #a7f1a8;
  --action-color: #8b0000;
  --tertiary-color: #f37e21;
  --rgb-accent: 65 95 66;
  --borderWidth: 3px;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

header,
.card-header {
  padding: 10px 10px;
}

header {
  border-bottom: double 0.5rem var(--secondary);
}
.card-header {
  border-bottom: solid var(--accent-color);
}

h2 {
  font-size: 2.5rem;
}

h2,
h3,
h4 {
  text-shadow: 0px 0px 0.5rem white;
}

main {
  height: 83%;
  contain: strict;
}

footer {
  border-top: solid white;
}

ul {
  list-style-type: none;
}

a,
#logout-btn,
#save-edit-btn,
#delete-article-btn,
#login-btn,
#signup-btn {
  text-decoration: none;
  color: var(--secondary);
  text-shadow: 0px 0px 0.5rem white;
}

.nav-a,
#logout-btn {
  font-size: 1.5rem;
  transition: color 0.25s, font-weight 0.25s;
}

.nav-a:hover,
#logout-btn:hover {
  color: var(--action-color);
  font-weight: bold;
}

.main-left {
  background-color: rgb(var(--rgb-accent) / 15%);
  overflow: hidden;
  contain: strict;
  /* z-index: 1; */
  position: relative;
  border: solid #a7f1a8;
}
.section-overlay {
  background: linear-gradient(
    rgb(var(--rgb-accent) / 0.15),
    rgb(var(--rgb-accent) / 0.15) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
  height: 100%;
  width: 100%;
  animation: pan-overlay 30s infinite linear;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}

.hero-image {
  background-image: url('https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2074&q=80');
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-size: 300%;
  background-position: 0% 0%;
  opacity: 0.5;
  filter: sepia(100%) hue-rotate(90deg);
  animation: pan-image 15s linear infinite;
}

@keyframes pan-image {
  0% {
    background-position: 36% 42%;
    background-size: 200%;
  }

  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }

  20.0001% {
    /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 500%;
  }

  40% {
    background-position: 49% 81%;
    background-size: 500%;
  }

  40.0001% {
    /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 300%;
  }

  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }

  60.0001% {
    /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 300%;
  }

  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }

  80.0001% {
    /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 300%;
  }

  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}

.main-right,
.dashboard-container,
.post,
.login-page,
.new-article-container {
  contain: strict;
  overflow-y: auto;
}

.article-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  flex-grow: 1;
  gap: 1rem;
  position: relative;
  z-index: 3;
  margin: 1rem;
  text-align: start;
}

.article-card > a > h3,
.title {
  font-size: 4rem;
  color: var(--accent-color);
  text-shadow: 0px 0px 0.5rem var(--accent-color);
  text-align: start;
}

.article-card > p,
.creator-details {
  text-shadow: 0px 0px 0.5rem var(--accent-color);
  font-size: 2rem;
}

.article-card > a > h3:hover,
.article-card > a > h3:focus {
  text-shadow: 0px 0px 1rem var(--secondary) !important;
}

#logout-btn,
#comment-submit-btn {
  background-color: var(--primary);
  border: none;
}

.name {
  font-size: 8rem;
  text-shadow: 0px 0px 0.75rem var(--secondary);
  position: absolute;
  top: 35%;
  left: 12%;
  z-index: 4;
}

.dashboard-card,
.comment-card {
  border: dashed var(--accent-color);
}

.dashboard-content,
.card-body,
.article-body {
  font-size: 2rem;
}

.dashboard-a {
  font-size: 2.5rem;
  text-shadow: 0px 0px 0.75rem var(--secondary);
  transition: text-shadow 0.25s;
}

.dashboard-a:hover {
  text-shadow: 0px 0px 1rem var(--action-color);
}

.res-echo {
  padding: 10px 0;
}

.dashboard-content,
.dashboard-a,
.comment-card,
.header-left,
form,
.comment-container,
.comment-form,
#login-form {
  padding-left: 20px;
}

.edit-form,
.login-form {
  font-size: 1.5rem;
  border: dashed var(--accent-color);
  height: 75%;
  width: 75%;
  text-align: center;
}
.edit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
}

.signup-form-p {
  font-size: 1rem;
}

label,
#new-article-title {
  font-size: 2.5rem;
}

textarea,
#new-article-content {
  font-size: 1.5rem;
}

#article-title-input,
#comment-content,
#new-article-title {
  height: 15%;
  width: 80%;
}

#article-content-input,
#new-article-content {
  height: 50%;
  width: 80%;
}

#save-edit-btn,
#delete-article-btn {
  border: none;
  background-color: var(--primary);
  font-size: 1.5rem;
  transition: color 0.25s, font-weight 0.25s;
}

#save-edit-btn:hover,
#delete-article-btn:hover {
  color: var(--action-color);
  font-weight: bold;
}

.comment-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}

#email-login,
#password-login,
#email-input-signup,
#username-input-signup,
#password-input-signup {
  height: 3rem;
  width: 50vw;
  font-size: 1.5rem;
}

input,
textarea {
  border: solid var(--accent-color);
  box-shadow: 10px 5px 5px var(--accent-color);
}

.form-btn {
  padding-top: 15px;
}

#signup-btn,
#login-btn,
#comment-submit-btn,
#new-article-btn {
  font-size: 2rem;
  text-shadow: 0px 0px 0.75rem var(--accent-color);
  transition: font-weight 0.5s, text-shadow 0.5s;
  color: var(--secondary);
}

#signup-btn:hover,
#login-btn:hover,
#comment-submit-btn:hover,
#new-article-btn:hover {
  font-weight: bold;
  text-shadow: 0 0 1rem var(--action-color);
}

.comment-div {
  margin-top: 15px;
}

@media (max-width: 733px) {
  .header-left {
    display: flex;
    justify-content: center !important;
  }
  .name {
    font-size: 4rem;
  }
}
